[Unit]
Description=Key capture service captures keyboard input.
After=syslog.target network.target

[Service]
Type=idle
ExecStart=/home/kiosek/kiosk_tab_change/key_capture.sh

[Install]
WantedBy=multi-user.target
